@model ExemploGreen.Web.Models.Contato

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>


@using (Ajax.BeginForm("EditAjax", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "formulario"
}))
{
    <div id="formulario">
        @Html.Partial("EditContatoPartial")
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
