
@{
    ViewBag.Title = "ListaContato";
}

<h2>Lista de Contatos</h2>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
        </tr>
    </thead>
    <tr>
        <td>Contato 1</td>
        <td>1234</td>
    </tr>
    <tr>
        <td>Contato 2</td>
        <td>1234</td>
    </tr>
</table>
