@model WebTodos.Infra.ILocationEntity

<div class="col-md-4">
    <div class="form-group">
        <label>Latitude @Model.Latitude</label>
        <label>Longitude @Model.Longitude</label>
    </div>
</div>