@model List<CadCli.Models.Cliente>

    <h2>Ricardo 1234</h2>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Idade</th>
            </tr>
        </thead>

        <tbody>
            @foreach (CadCli.Models.Cliente item in Model)
            {

                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nome</td>
                    <td>@item.Idade</td>
                </tr>
            }

        </tbody>

    </table>
