<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CadCli</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/estilo.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">CadCli</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Página Inicial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Clientes">Clientes</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container">
        @RenderBody()
    </div>

    <footer class="bg-dark">
        &copy; FanSoft @DateTime.Now.Year
    </footer>

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
