@{
    ViewBag.Title = "Home Page";
}

<section class="row">
    <div class="col-md-1">
        <!--<button>Login</button>-->
        @Html.ActionLink("LogIn", "Login", "Usuario")
    </div>
</section>