@{
    ViewBag.Title = "Home Page";
}

<section class="jumbotron">
    <div class="col-md-1">
        <!--<button>Login</button>-->
        @Html.ActionLink("LogIn", "Login", new { controller = "Usuario" }, new { @class = "btn btn-primary", role = "button" })
    </div>
</section>

<section class="panel-footer">
    <span>@ViewBag.SystemTime</span>
</section>