@*<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Contatos", "Index", "Contato")</li>
    <li>@Html.ActionLink("Clientes", "Index", "Cliente")</li>
</ul>*@

@Html.MvcSiteMap().Menu()