@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@section Scripts
    {
    <script>
        fetch('/api/todo', { method: 'GET' })
            .then(response => response.json())
            .then(json => console.log(json))
            .catch(error => console.error('algo deu errado em narnia', error));
    </script>
}