@{
    ViewBag.Title = "Home Page";
}

<div>
    <p>Pagina comum</p>
</div>
<hr />
<div>


    @using (Ajax.BeginForm("MyPartialPost", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "ajax-post" }))
    {
        <button type="submit" class="btn btn-default">
            <i class="glyphicon glyphicon-refresh"></i>
            POST Data
        </button>
    }
</div>

<div>
    
    <p>
        @Ajax.ActionLink("GET Data", "MyPartial", new AjaxOptions { UpdateTargetId = "ajax-get", HttpMethod = "GET", InsertionMode = InsertionMode.Replace })
    </p>
</div>


<hr />
<p>POST</p>
<div id="ajax-post">

</div>

<hr />
<p>GET</p>
<div id="ajax-get">

</div>

@section Scripts
{

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}